<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>URL Hash</th>
      <th>Admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.url_hash %></td>
        <td><% if user.admin? %>
              <%= 'true' %>
            <% else %>
              <%= 'false' %>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

