<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Attachment Photos</th>
      <th>Timestamp</th>
      <th>Comment ID | Comment | Commenter</th>
      <th> New Comment </th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id    %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <% if post.photo.file? %>
          <td><%= image_tag post.photo.url(:thumb) %></td>
        <% else %>
          <td>None</td>
        <% end %>

        <% if post.updated_at > post.created_at %>
          <td><%= 'last updated at ' + post.updated_at.to_s %>
        <% else %>
          <td><%= 'created at ' + post.created_at.to_s %>
        <% end %>

        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><% post.comments.each do |comment| %>
            <%= comment.id      %> | 
            <%= comment.content %>  | 
            <%= comment.commenter %> |
            <%= 'created at ' + comment.created_at.to_s %> |
            <%= link_to 'Destroy', comment_path(comment),
                    method: :delete, data: { confirm: 'Are you sure?' } %><br/>
            <% end %>
        </td>


        <td>
            <%= form_for :comment, :url => comments_path do |f| %>
            
            <p>
              Comment <%= f.label :content %><br>
              <%= f.text_area :content %>
            </p>



            
            <%= f.hidden_field :post_id, :value => post.id %>
            

            
            <%= f.hidden_field :url_hash, :value => @user.url_hash %>
            
            <%= f.hidden_field :commenter, value: ADMIN_NAME %>


            <p>
              <%= f.submit %>
            </p>
          <% end %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>Create New Post</p>

<%= form_for :post, url: posts_path, :html => { :multipart => true }  do |f| %>
  <p>
    Post <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    Post <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.file_field :photo %>
  </p>
  
  <%= f.hidden_field :url_hash, :value => @user.url_hash %>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', control_panel_path %>