<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Attachment Photos</th>
      <th>Timestamp</th>
      <th>Comment ID | Comment | Commenter</th>
      <th> New Comment </th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id    %></td>
        <td><%= post.title %></td>
        <td><%= post.content %> 
        <% if post.photo.file? %>
          <td><%= image_tag post.photo.url(:thumb) %></td>
        <% else %>
          <td>None</td>
        <% end %>
        
        <% if post.updated_at > post.created_at %>
          <td><%= 'last updated at ' + post.updated_at.to_s %>
        <% else %>
          <td><%= 'created at ' + post.created_at.to_s %>
        <% end %>
        </td>

        <td><% post.comments.each do |comment| %>
            <%= comment.id      %> | 
            <%= comment.content %> |
            <%= comment.commenter %> |
                        
            <% if comment.photo.file? %>
              <%= image_tag comment.photo.url(:thumb) %>
            <% else %>
              None
            <% end %>
             |
            <%= 'created at ' + comment.created_at.to_s %><br/>
            <% end %>
        </td>
        
        <td>
            <%= form_for :comment, :url => feedback_path do |f| %>
            
            <p>
              Comment <%= f.label :content %><br>
              <%= f.text_area :content %>
            </p>

            <p>
              <%= f.file_field :photo %>
            </p>

            
            <%= f.hidden_field :post_id, :value => post.id %>
            

            
            <%= f.hidden_field :url_hash, :value => @user.url_hash %>
            
            <%= f.hidden_field :commenter, value: @user.name %>

            <p>
              <%= f.submit %>
            </p>
          <% end %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

